<table class="table table-hover">
  <thead>
    <tr>
      <th>{{ table.tableName | titlecase }}</th>
      <th *ngFor="let columns of table.columns">{{ columns | titlecase }}</th>
    </tr>
  </thead>
  <tbody>
    <tr [formGroup]="addRowForm">
      <td>
        <button
          class="btn btn-outline-primary btn-sm btn-table"
          [disabled]="RowForm.status == 'INVALID'"
          (click)="addNewRow()"
        >
          Add Row
        </button>
      </td>
      <td
        [ngClass]="{'invalid-box':dateControl.errors?.['daysInvalid'] || dateControl.errors?.['pattern']}"
      >
        <input type="text" class="form-control" formControlName="date" />
      </td>
      <td>
        <input type="text" class="form-control" formControlName="name" />
      </td>
      <td [ngClass]="{'invalid-box':amountControl.errors?.['pattern']}">
        <input type="text" class="form-control" formControlName="amount" />
      </td>
    </tr>
    <tr *ngFor="let row of table.rows">
      <td>
        <div class="btn-group btn-table">
          <button
            class="btn btn-outline-success btn-sm"
            (click)="editRow(row.id)"
          >
            Edit
          </button>
          <button
            class="btn btn-outline-danger btn-sm"
            (click)="deleteRow(row.id)"
          >
            Delete
          </button>
        </div>
      </td>
      <td>{{ row.date }}</td>
      <td>{{ row.name }}</td>
      <td>{{ row.amount }}</td>
    </tr>
  </tbody>
</table>
